<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.digeratisensei.sitewalker"
      android:versionCode="1"
      android:versionName="1.0">
    <supports-screens
      android:normalScreens="true"
      android:largeScreens="true"
      android:anyDensity="true" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SiteWalker"
                  android:label="@string/app_name"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".Mapper"></activity>
		<activity android:name=".Projects"></activity>
		<activity android:name=".MySignalStrength"></activity>
		<activity android:name=".ImageUpload"></activity>
    </application>
</manifest>